<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {include file="common/header_source"}
    <title>商品列表</title>
    <link rel="stylesheet" href="__STATIC__/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body class="pos-r">
<div class="pos-a" style="width:200px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5; overflow:auto;">
    <ul id="treeDemo" class="ztree"></ul>
</div>
<input type="hidden" name="cate_id" value="0" id="" level="">
<div style="margin-left:200px;">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 商品管理 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <a class="btn btn-primary radius" onclick="product_add('添加商品','{:url('admin/Goods/add')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover">
                <thead>
                <tr class="text-c">
                    <th width="40"><input name="" type="checkbox" value=""></th>
                    <th width="10%">ID</th>
                    <th width="20%">商品名称</th>
                    <th width="10%">所属分类</th>
                    <th width="10%">商品封面</th>
                    <th width="10%">库存</th>
                    <th width="5%">是否滚动</th>
                    <th width="10%">售价</th>
                    <th width="15%">创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $data as $key}
                <tr class="text-c va-m">
                    <td><input name="" type="checkbox" value=""></td>
                    <td>{$key.id}</td>
                    <td>{$key.name}</td>
                    <td>{$key.cate_name}</td>
                    <td><img src="{$key.thumb_img}" alt="" style="width: 90px;"></td>
                    <td>{if $key.is_attr == 1} 点击编辑详细查看 {else} {$key.num} {/if}</td>
                    <td>{if $key.is_roll == 0} 否  {else} 是 {/if}</td>
                    <td><span class="price">{if $key.is_attr == 1} 点击编辑详细查看 {else} {$key.price} {/if}</span></td>
                    <td>{$key.create_time|date="Y-m-d H:i:s"}</td>
                    <td class="td-manage">
                        <!--<a style="text-decoration:none" onclick="product_stop(this,'10001')" href="javascript:;" title="下架">-->
                        <!--<i class="Hui-iconfont"></i>-->
                        <!--</a>-->
                        <a style="text-decoration:none" class="ml-5" onclick="product_edit('商品编辑','{:url('admin/Goods/edit',['id'=>$key.id])}','10001')" href="javascript:;" title="编辑">
                            <i class="Hui-iconfont"></i>
                        </a>
                        <a style="text-decoration:none" class="ml-5" onclick="product_del(this,'{$key.id}')" href="javascript:;" title="删除">
                            <i class="Hui-iconfont"></i>
                        </a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <div class="paginate">
            {$page_html|raw}
        </div>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
{include file="common/js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    //ztree 配置
    var setting = {
        view: {
            dblClickExpand: true,
            showLine: false,
            selectedMulti: true,
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pid",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: function(treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("tree");
                $('input[name=cate_id]').attr('level', treeNode.level);
                $('input[name=cate_id]').attr('id',treeNode.id);
                if (treeNode.level == 2 || treeNode.id == 0){
                    $.ajax({
                        url:"{:url('admin/Goods/index')}",
                        type:"post",
                        data:"page=1&cate_id="+treeNode.id,
                        dataType:"json",
                        success:function(data){
                            $('.page-container').html(data.html);
                        }
                    })
                }
                // if (treeNode.isParent) {
                //     zTree.expandNode(treeNode);
                //     return false;
                // } else {
                //     //demoIframe.attr("src",treeNode.file + ".html");
                //     return true;
                // }
            }
        }
    };
    var zNodes ;

    //翻页
    goods_index_page = function(page = 1)
    {
        var cate_id = $('input[name=cate_id]').attr('id');
        $.ajax({
            url:"{:url('admin/Goods/index')}",
            type:'post',
            dataType:'json',
            data:'cate_id='+cate_id+'&page='+page,
            success:function(data){
                $('.page-container').html(data.html);
            }
        })
    }

    //异步加载分类
    $(document).ready(function () {
        var t = $("#treeDemo");

        $.ajax({
            url: "{:url('admin/Base/getCate')}",
            type: 'post',
            dataType: 'json',
            data: 'type=1',
            success: function (data) {
                console.log(data);
                zNodes = data;
                $.fn.zTree.init(t, setting, data);
            }
        })
        demoIframe = $("#testIframe");
        // demoIframe.on("load", loadReady);
        var zTree = $.fn.zTree.getZTreeObj("tree");
        // zTree.selectNode(zTree.getNodeByParam("id",'11'));
    });
    $('.table-sort').dataTable({
        "aaSorting": [[1, "desc"]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            {"orderable": false}// 制定列不参与排序
            // {"orderable": false, "aTargets": [0, 0]}// 制定列不参与排序
        ]
    });
    /*产品-添加*/
    function product_add(title,url){
        var cate_level = $('input[name=cate_id]').attr('level');
        var cate_id = $('input[name=cate_id]').attr('id');
        if (cate_level != 2){
            layer.alert('只能给第二级的分类添加商品');
            return false;
        }
        var index = layer.open({
            type: 2,
            title: title,
            content: url+"?cate_id="+cate_id,
        });
        layer.full(index);
    }
    /*产品-查看*/
    function product_show(title,url,id){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*产品-审核*/
    function product_shenhe(obj,id){
        layer.confirm('审核文章？', {
                btn: ['通过','不通过'],
                shade: false
            },
            function(){
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                $(obj).remove();
                layer.msg('已发布', {icon:6,time:1000});
            },
            function(){
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                $(obj).remove();
                layer.msg('未通过', {icon:5,time:1000});
            });
    }
    /*产品-下架*/
    function product_stop(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!',{icon: 5,time:1000});
        });
    }
    /*产品-发布*/
    function product_start(obj,id){
        layer.confirm('确认要发布吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
            $(obj).remove();
            layer.msg('已发布!',{icon: 6,time:1000});
        });
    }
    /*产品-申请上线*/
    function product_shenqing(obj,id){
        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
        $(obj).parents("tr").find(".td-manage").html("");
        layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
    }
    /*产品-编辑*/
    function product_edit(title,url,id){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*产品-删除*/
    function product_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"{:url('admin/Goods/delete')}",
                data:"id="+id,
                type:"post",
                dataType:"json",
                success: function(data){
                    if (data.code == 1){
                        $(obj).parents("tr").remove();
                        layer.msg(data.msg,{icon:1,time:1000});
                    }

                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>